<%- include("header") -%>
<h2> This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus facilis inventore nulla culpa assumenda. Quos eius ipsa cupiditate quo officiis, corrupti aut delectus? Vero consequuntur sapiente dignissimos ut maiores! Iusto.</p>
<%- include("footer") -%>